body{
    margin: 0;
    padding: 0;
    background: #000;
}


.btn{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
button{
    background: transparent;
    color:turquoise;
    width: 100px;
    height: 30px;
    font-family: sans-serif;
    font-size: 20px;
    border-color: turquoise;
    font-weight: 400;
    border-radius: 10px;
    letter-spacing: 2px;
    transition: ls;
}
button:hover{
    cursor:pointer;
    box-shadow: 0 2px 50px 0 turquoise, 0 20px 100px 0 turquoise;
    transition: 2s;
}